.searchedVideos{
    flex: 0.8;
    padding: 20px 20px;
    background-color: #f9f9f9;
}

.searchedVideosFilter{
    display: flex;
    align-items: center;
    color: #606060;
    font-size: xx-small !important;
}

.searchedVideosFilter > h2{
    margin-left: 10px;
}

.searchedVideos > hr {
    height: 1px;
    border: 0;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}

@media(max-width: 900px) {
    .searchedVideosFilter {
        display: flex;
        align-items: center;
        color: #606060;
        font-size: 6px !important;
    }

    .searchedVideosFilter > SVG {
        font-size: 12px !important;
    }

    .searchedVideos {
        padding: 10px 10px;
        flex: 0.8;
        padding: 20px 20px;
    }

    .searchedVideosFilter > h2 {
        margin-left: 5px;
    }

    .searchedVideos>hr {
        height: 1px;
        border: 0;
        background-color: lightgray;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}