.videoInfoStats, .videoInfoChannel {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.videoInfoHeadline > h1 {
    font-weight: 400;
    font-size: large;
}

.videoInfoStats > p {
    font-size: medium;
    color: gray;
}

.videoInfoStats > * {
    margin-top: 2px;
}

.videoInfoLikes > * {
    padding-left: 0;
    padding-top: 0;
}

.videoInfoLikes, .videoInfoChannel > div {
    display: flex;
    align-items: center;
}

hr {
    height: 1px;
    border: 0;
    background-color: lightgray;
    margin-top: 10px;
    margin-bottom: 10px;
}

.videoInfoChannelInfo {
    padding-left: 5px;
}

.videoInfoChannelTitle {
    font-size: medium;
    margin: 2px;
}

.videoInfoChannelSubs {
    color: gray;
    font-size: small;
    margin: 0;
}

.videoInfoChannelDesc {
    color: gray;
    font-size: small;
}